<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Takealot</display-name>
  <welcome-file-list>
    <welcome-file>welcome.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.takealot.servlet.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUser</display-name>
    <servlet-name>CheckUser</servlet-name>
    <servlet-class>com.takealot.servlet.CheckUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUser</servlet-name>
    <url-pattern>/CheckUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.takealot.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OTPServlet</display-name>
    <servlet-name>OTPServlet</servlet-name>
    <servlet-class>com.takealot.servlet.OTPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OTPServlet</servlet-name>
    <url-pattern>/OTPServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayUser</display-name>
    <servlet-name>DisplayUser</servlet-name>
    <servlet-class>com.takealot.servlet.DisplayUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayUser</servlet-name>
    <url-pattern>/DisplayUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreData</display-name>
    <servlet-name>StoreData</servlet-name>
    <servlet-class>com.takealot.servlet.StoreData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreData</servlet-name>
    <url-pattern>/StoreData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>com.takealot.servlet.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>com.takealot.servlet.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordServlet</display-name>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <servlet-class>com.takealot.servlet.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <url-pattern>/ForgotPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendForgotPassword</display-name>
    <servlet-name>SendForgotPassword</servlet-name>
    <servlet-class>com.takealot.servlet.SendForgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendForgotPassword</servlet-name>
    <url-pattern>/SendForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet</display-name>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>com.takealot.servlet.EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.takealot.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCategory</display-name>
    <servlet-name>AddCategory</servlet-name>
    <servlet-class>com.takealot.servlet.AddCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCategory</servlet-name>
    <url-pattern>/AddCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayCategory</display-name>
    <servlet-name>DisplayCategory</servlet-name>
    <servlet-class>com.takealot.servlet.DisplayCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayCategory</servlet-name>
    <url-pattern>/DisplayCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCategory</display-name>
    <servlet-name>DeleteCategory</servlet-name>
    <servlet-class>com.takealot.servlet.DeleteCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCategory</servlet-name>
    <url-pattern>/DeleteCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCategory</display-name>
    <servlet-name>EditCategory</servlet-name>
    <servlet-class>com.takealot.servlet.EditCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCategory</servlet-name>
    <url-pattern>/EditCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSubCategory</display-name>
    <servlet-name>AddSubCategory</servlet-name>
    <servlet-class>com.takealot.servlet.AddSubCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSubCategory</servlet-name>
    <url-pattern>/AddSubCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSubCategory</display-name>
    <servlet-name>DeleteSubCategory</servlet-name>
    <servlet-class>com.takealot.servlet.DeleteSubCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSubCategory</servlet-name>
    <url-pattern>/DeleteSubCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSubCategory</display-name>
    <servlet-name>UpdateSubCategory</servlet-name>
    <servlet-class>com.takealot.servlet.UpdateSubCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSubCategory</servlet-name>
    <url-pattern>/UpdateSubCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditSubCategory</display-name>
    <servlet-name>EditSubCategory</servlet-name>
    <servlet-class>com.takealot.servlet.EditSubCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditSubCategory</servlet-name>
    <url-pattern>/EditSubCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplaySubCategory</display-name>
    <servlet-name>DisplaySubCategory</servlet-name>
    <servlet-class>com.takealot.servlet.DisplaySubCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplaySubCategory</servlet-name>
    <url-pattern>/DisplaySubCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchCategory</display-name>
    <servlet-name>FetchCategory</servlet-name>
    <servlet-class>com.takealot.servlet.FetchCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchCategory</servlet-name>
    <url-pattern>/FetchCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditDeliveryBoy</display-name>
    <servlet-name>EditDeliveryBoy</servlet-name>
    <servlet-class>com.takealot.servlet.EditDeliveryBoy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDeliveryBoy</servlet-name>
    <url-pattern>/EditDeliveryBoy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProduct</display-name>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>com.takealot.servlet.AddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/AddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayProduct</display-name>
    <servlet-name>DisplayProduct</servlet-name>
    <servlet-class>com.takealot.servlet.DisplayProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayProduct</servlet-name>
    <url-pattern>/DisplayProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProduct</display-name>
    <servlet-name>DeleteProduct</servlet-name>
    <servlet-class>com.takealot.servlet.DeleteProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProduct</servlet-name>
    <url-pattern>/DeleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayProductDetails</display-name>
    <servlet-name>DisplayProductDetails</servlet-name>
    <servlet-class>com.takealot.servlet.DisplayProductDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayProductDetails</servlet-name>
    <url-pattern>/DisplayProductDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProduct</display-name>
    <servlet-name>EditProduct</servlet-name>
    <servlet-class>com.takealot.servlet.EditProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProduct</servlet-name>
    <url-pattern>/EditProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddWishlist</display-name>
    <servlet-name>AddWishlist</servlet-name>
    <servlet-class>com.takealot.servlet.AddWishlist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddWishlist</servlet-name>
    <url-pattern>/AddWishlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayWishlist</display-name>
    <servlet-name>DisplayWishlist</servlet-name>
    <servlet-class>com.takealot.servlet.DisplayWishlist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayWishlist</servlet-name>
    <url-pattern>/DisplayWishlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchProductDetail</display-name>
    <servlet-name>FetchProductDetail</servlet-name>
    <servlet-class>com.takealot.servlet.FetchProductDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchProductDetail</servlet-name>
    <url-pattern>/FetchProductDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cart</display-name>
    <servlet-name>Cart</servlet-name>
    <servlet-class>com.takealot.bean.Cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cart</servlet-name>
    <url-pattern>/Cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCart</display-name>
    <servlet-name>AddToCart</servlet-name>
    <servlet-class>com.takealot.servlet.AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCart</servlet-name>
    <url-pattern>/AddToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectSubcategoryProduct</display-name>
    <servlet-name>SelectSubcategoryProduct</servlet-name>
    <servlet-class>com.takealot.servlet.SelectSubcategoryProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectSubcategoryProduct</servlet-name>
    <url-pattern>/SelectSubcategoryProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyNow</display-name>
    <servlet-name>BuyNow</servlet-name>
    <servlet-class>com.takealot.servlet.BuyNow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyNow</servlet-name>
    <url-pattern>/BuyNow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubcategoryProduct</display-name>
    <servlet-name>SubcategoryProduct</servlet-name>
    <servlet-class>com.takealot.servlet.SubcategoryProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubcategoryProduct</servlet-name>
    <url-pattern>/SubcategoryProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddReview</display-name>
    <servlet-name>AddReview</servlet-name>
    <servlet-class>com.takealot.servlet.AddReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReview</servlet-name>
    <url-pattern>/AddReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProduct</display-name>
    <servlet-name>SearchProduct</servlet-name>
    <servlet-class>com.takealot.servlet.SearchProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProduct</servlet-name>
    <url-pattern>/SearchProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProductDisplay</display-name>
    <servlet-name>SearchProductDisplay</servlet-name>
    <servlet-class>com.takealot.servlet.SearchProductDisplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProductDisplay</servlet-name>
    <url-pattern>/SearchProductDisplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchCartDetail</display-name>
    <servlet-name>FetchCartDetail</servlet-name>
    <servlet-class>com.takealot.servlet.FetchCartDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchCartDetail</servlet-name>
    <url-pattern>/FetchCartDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentServlet</display-name>
    <servlet-name>PaymentServlet</servlet-name>
    <servlet-class>com.takealot.servlet.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentServlet</servlet-name>
    <url-pattern>/PaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOrderDetail</display-name>
    <servlet-name>AddOrderDetail</servlet-name>
    <servlet-class>com.takealot.servlet.AddOrderDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrderDetail</servlet-name>
    <url-pattern>/AddOrderDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMoreOrderDetail</display-name>
    <servlet-name>AddMoreOrderDetail</servlet-name>
    <servlet-class>com.takealot.servlet.AddMoreOrderDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMoreOrderDetail</servlet-name>
    <url-pattern>/AddMoreOrderDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCartProduct</display-name>
    <servlet-name>DeleteCartProduct</servlet-name>
    <servlet-class>com.takealot.servlet.DeleteCartProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCartProduct</servlet-name>
    <url-pattern>/DeleteCartProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteWishlistProduct</display-name>
    <servlet-name>DeleteWishlistProduct</servlet-name>
    <servlet-class>com.takealot.servlet.DeleteWishlistProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteWishlistProduct</servlet-name>
    <url-pattern>/DeleteWishlistProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchReviewDetails</display-name>
    <servlet-name>FetchReviewDetails</servlet-name>
    <servlet-class>com.takealot.servlet.FetchReviewDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchReviewDetails</servlet-name>
    <url-pattern>/FetchReviewDetails</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/error-page.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>FetchOrderDetails</display-name>
    <servlet-name>FetchOrderDetails</servlet-name>
    <servlet-class>com.takealot.servlet.FetchOrderDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchOrderDetails</servlet-name>
    <url-pattern>/FetchOrderDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactUsServlet</display-name>
    <servlet-name>ContactUsServlet</servlet-name>
    <servlet-class>com.takealot.servlet.ContactUsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUsServlet</servlet-name>
    <url-pattern>/ContactUsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchContactusDetail</display-name>
    <servlet-name>FetchContactusDetail</servlet-name>
    <servlet-class>com.takealot.servlet.FetchContactusDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchContactusDetail</servlet-name>
    <url-pattern>/FetchContactusDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReplyContactUs</display-name>
    <servlet-name>ReplyContactUs</servlet-name>
    <servlet-class>com.takealot.servlet.ReplyContactUs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyContactUs</servlet-name>
    <url-pattern>/ReplyContactUs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartBuyNow</display-name>
    <servlet-name>CartBuyNow</servlet-name>
    <servlet-class>com.takealot.servlet.CartBuyNow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartBuyNow</servlet-name>
    <url-pattern>/CartBuyNow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartPaymentServlet</display-name>
    <servlet-name>CartPaymentServlet</servlet-name>
    <servlet-class>com.takealot.servlet.CartPaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartPaymentServlet</servlet-name>
    <url-pattern>/CartPaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCartOrderDetail</display-name>
    <servlet-name>AddCartOrderDetail</servlet-name>
    <servlet-class>com.takealot.servlet.AddCartOrderDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCartOrderDetail</servlet-name>
    <url-pattern>/AddCartOrderDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateOrderStatus</display-name>
    <servlet-name>UpdateOrderStatus</servlet-name>
    <servlet-class>com.takealot.servlet.UpdateOrderStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrderStatus</servlet-name>
    <url-pattern>/UpdateOrderStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SortProduct</display-name>
    <servlet-name>SortProduct</servlet-name>
    <servlet-class>com.takealot.servlet.SortProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SortProduct</servlet-name>
    <url-pattern>/SortProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IntialSortProduct</display-name>
    <servlet-name>IntialSortProduct</servlet-name>
    <servlet-class>com.takealot.servlet.IntialSortProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IntialSortProduct</servlet-name>
    <url-pattern>/IntialSortProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewArrival</display-name>
    <servlet-name>NewArrival</servlet-name>
    <servlet-class>com.takealot.servlet.NewArrival</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewArrival</servlet-name>
    <url-pattern>/NewArrival</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RandomProductDetail</display-name>
    <servlet-name>RandomProductDetail</servlet-name>
    <servlet-class>com.takealot.servlet.RandomProductDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RandomProductDetail</servlet-name>
    <url-pattern>/RandomProductDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCODOrderDetail</display-name>
    <servlet-name>AddCODOrderDetail</servlet-name>
    <servlet-class>com.takealot.servlet.AddCODOrderDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCODOrderDetail</servlet-name>
    <url-pattern>/AddCODOrderDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCODCartOrderDetail</display-name>
    <servlet-name>AddCODCartOrderDetail</servlet-name>
    <servlet-class>com.takealot.servlet.AddCODCartOrderDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCODCartOrderDetail</servlet-name>
    <url-pattern>/AddCODCartOrderDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveProductfromWishlist</display-name>
    <servlet-name>RemoveProductfromWishlist</servlet-name>
    <servlet-class>com.takealot.servlet.RemoveProductfromWishlist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveProductfromWishlist</servlet-name>
    <url-pattern>/RemoveProductfromWishlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveProductfromCart</display-name>
    <servlet-name>RemoveProductfromCart</servlet-name>
    <servlet-class>com.takealot.servlet.RemoveProductfromCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveProductfromCart</servlet-name>
    <url-pattern>/RemoveProductfromCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportGenerate</display-name>
    <servlet-name>ReportGenerate</servlet-name>
    <servlet-class>com.takealot.servlet.ReportGenerate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportGenerate</servlet-name>
    <url-pattern>/ReportGenerate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductReview</display-name>
    <servlet-name>DeleteProductReview</servlet-name>
    <servlet-class>com.takealot.servlet.DeleteProductReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductReview</servlet-name>
    <url-pattern>/DeleteProductReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchAllProductDetail</display-name>
    <servlet-name>FetchAllProductDetail</servlet-name>
    <servlet-class>com.takealot.servlet.FetchAllProductDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchAllProductDetail</servlet-name>
    <url-pattern>/FetchAllProductDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnblockProduct</display-name>
    <servlet-name>UnblockProduct</servlet-name>
    <servlet-class>com.takealot.servlet.UnblockProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnblockProduct</servlet-name>
    <url-pattern>/UnblockProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchAllCategory</display-name>
    <servlet-name>FetchAllCategory</servlet-name>
    <servlet-class>com.takealot.servlet.FetchAllCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchAllCategory</servlet-name>
    <url-pattern>/FetchAllCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnblockCategory</display-name>
    <servlet-name>UnblockCategory</servlet-name>
    <servlet-class>com.takealot.servlet.UnblockCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnblockCategory</servlet-name>
    <url-pattern>/UnblockCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchAllSubcategory</display-name>
    <servlet-name>FetchAllSubcategory</servlet-name>
    <servlet-class>com.takealot.servlet.FetchAllSubcategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchAllSubcategory</servlet-name>
    <url-pattern>/FetchAllSubcategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnblockSubCategory</display-name>
    <servlet-name>UnblockSubCategory</servlet-name>
    <servlet-class>com.takealot.servlet.UnblockSubCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnblockSubCategory</servlet-name>
    <url-pattern>/UnblockSubCategory</url-pattern>
  </servlet-mapping>
</web-app>